@use "../utils/variables" as *;
// @import 'opacityAnimtion';
.user-information {
  display: flex;
  flex-direction: column;
  label {
    padding: 10px 0;
    text-transform: capitalize;
    color: $SteelGray;
  }
  input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: $primary;
    color: $SteelGray;  
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:focus{
      outline: none;
    }
    &::placeholder{
      text-transform: capitalize;
      color: $SteelGray;
    }
  }
  .name {
  }
  .email {
  }
  .phone {
  }
  .password {
  }
.save{
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
  @media #{$extraSmall} {
    width: 100%;
  }
}
  .massege{
    margin: 10px;
    color: $dark-red;
    font-weight: bold;
    display: none;
    &.active{
      display: block;
    }
  }
 
}
